* {
    margin: 0;
    padding: 0;
}
.sunny {
  background: url('images/sunnt.jpg') no-repeat center center fixed;
  background-size: cover;
}

.cloudy {
  background: url('images/cloudy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.rainy {
  background: url('images/rainy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.snowy {
  background: url('images/snowy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.default-weather {
  background: white;
}
.hidden {
  display: none;
}
header {
    background-color: #968C8C80 ;
    margin: 0 5% 5% 5%;
    border-radius: 1rem;
}
.logo-title{
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: left;
    padding: 5% 5% 5% 7%;
    color: white;
    font-size: 3rem;
}
.logo{
    width: 30%;
    height: 30%;

}
.input-button{
    text-align: center;
    padding-bottom: 4%;
}
#buttonville{
    padding: 3%;
    border-radius: 1rem;
    padding-inline: 10%;
    
}
#rechercher{
    padding: 3%;
    border-radius: 1rem;
    padding-inline: 5%;
}
#resultatmeteo{
    text-align: center;
    padding-top: 10%;
    background: #968C8c80;
    margin: 5%;
    border-radius: 5%;
    margin-bottom: 10rem;
}
h2{
    font-size: 3rem;
    color: white;
}
#iconemeteo{
    width: 50%;
}
p{
    font-size: 2rem;
    padding-block: 0.8rem;
    color: white;
}
.pfooter{
    font-size: 1rem;
    text-align: center;
}