* {
    margin: 0;
    padding: 0;
}
.sunny {
  background: url('images/sunnt.jpg') no-repeat center center fixed;
  background-size: cover;
}

.cloudy {
  background: url('images/cloudy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.rainy {
  background: url('images/rainy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.snowy {
  background: url('images/snowy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.default-weather {
  background: #dfe6e9;
}
.hidden {
  display: none;
}
header {
    background-color: #2468AC;
}
h1 {
    text-align: left;
    padding: 5% 5% 5% 7%;
    color: white;
}
.input-button{
    text-align: center;
    padding-bottom: 4%;
}
#buttonville{
    padding: 2%;
    border-radius: 1rem;
    padding-inline: 10%;
    
}
#rechercher{
    padding: 2%;
    border-radius: 1rem;
    padding-inline: 5%;
}